@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

header .colorNav {
  background-color: red;
  border-bottom: 5px solid black;
}
header .fotoLogo {
  width: 250px;
  height: 100px;
}
header .nav-link {
  color: white;
  font-size: 25px;
}

footer .fotoLogo {
  width: 250px;
  height: 100px;
}

.gridHistoria {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: auto auto;
  gap: 15px;
  grid-template-areas: " parrafoUno    imagenUno" " imagenDos     parrafoDos" " parrafoTres   imagenTres " " imagenCuatro  parrafoCuatro";
}

.parrafoUno {
  font-size: larger;
  grid-area: parrafoUno;
}

.imagenUno {
  grid-area: imagenUno;
}

.imagenDos {
  grid-area: imagenDos;
}

.parrafoDos {
  font-size: larger;
  grid-area: parrafoDos;
}

.parrafoTres {
  font-size: larger;
  grid-area: parrafoTres;
}

.imagenTres {
  grid-area: imagenTres;
}

.parrafoCuatro {
  font-size: larger;
  grid-area: parrafoCuatro;
}

.imagenCuatro {
  grid-area: imagenCuatro;
}

@media screen and (max-width: 768px) {
  .gridHistoria {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
    grid-template-areas: "parrafoUno" "imagenUno" "parrafoDos" "imagenDos" "parrafoTres" "imagenTres" "parrafoCuatro" "imagenCuatro";
  }
}
.containerEquipos {
  display: flex;
  flex-wrap: wrap;
}

.sectionEquipos {
  padding: 10px;
  border-radius: 15px;
  height: 400px;
  width: 600px;
  margin: 15px;
  border-top: 10px solid black;
  border-right: 10px solid black;
}

/*ANIMACION EQUIPOS*/
.img-area {
  position: relative;
}
.img-area img {
  position: absolute;
  transition: opacity 1s ease-in-out;
}
.img-area img.img-front:hover {
  opacity: 0;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .sectionEquipos {
    width: 400px;
    height: 250px;
    margin: 20px;
  }
}
/*PILOTOS*/
p {
  font-size: large;
}

div .tituloPiloto {
  display: block;
  width: 600px;
  font-size: 30px;
}

article .nombrePiloto {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

figure .pilotos {
  width: 200px;
  height: 200px;
}

.flexPilotos {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-top: 8px solid black;
  border-right: 8px solid black;
  width: 450px;
  height: 350px;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

.equios {
  width: 350px;
  height: 350px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.gridPilotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
@media screen and (max-width: 1440px) {
  .gridPilotos {
    grid-template-columns: 500px 500px;
    gap: 0em;
  }
  .gridPilotos .gridPilotos {
    justify-content: center;
  }
}
@media screen and (max-width: 1000px) {
  .gridPilotos {
    grid-template-columns: 450px 450px;
    gap: 0em;
  }
  .gridPilotos .pilotos {
    width: 175px;
    height: 175px;
  }
  .gridPilotos .flexPilotos {
    width: 400px;
    height: 350px;
  }
  .gridPilotos .gridPilotos {
    justify-content: center;
  }
}
@media screen and (max-width: 940px) {
  .gridPilotos {
    grid-template-columns: 2fr 2fr;
    gap: 0em;
  }
  .gridPilotos .pilotos {
    width: 175px;
    height: 175px;
  }
  .gridPilotos .flexPilotos {
    width: 400px;
    height: 350px;
  }
  .gridPilotos .gridPilotos {
    justify-content: center;
  }
}
@media screen and (max-width: 850px) {
  .gridPilotos {
    grid-template-columns: 1fr 1fr;
    gap: 0em;
  }
  .gridPilotos .pilotos {
    width: 150px;
    height: 150px;
  }
  .gridPilotos .flexPilotos {
    width: 350px;
    height: 300px;
  }
  .gridPilotos .gridPilotos {
    justify-content: center;
  }
}
@media screen and (max-width: 740px) {
  .gridPilotos {
    grid-template-columns: auto;
    gap: 0em;
  }
  .gridPilotos .pilotos {
    width: 175px;
    height: 175px;
  }
  .gridPilotos .flexPilotos {
    width: 500px;
    height: 400px;
  }
  .gridPilotos .gridPilotos {
    justify-content: center;
  }
}
@media screen and (max-width: 530px) {
  .gridPilotos {
    grid-template-columns: auto;
    gap: 0em;
  }
  .gridPilotos .pilotos {
    width: 125px;
    height: 125px;
  }
  .gridPilotos .flexPilotos {
    width: 340px;
    height: 300px;
  }
  .gridPilotos .nombrePiloto {
    font-size: medium;
  }
  .gridPilotos .gridPilotos {
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .card {
    width: 23rem;
  }
}
@media screen and (max-width: 980px) {
  .card {
    width: 20rem;
  }
}
@media screen and (max-width: 1400px) {
  .card {
    width: 20rem;
  }
}
.card {
  width: 20rem;
}

.col-noticias {
  width: 400px;
  height: 700px;
}

.noticiasFormula {
  border-top: red 2px solid;
  border-left: red 2px solid;
  border-right: red 2px solid;
  border-radius: 5px;
}

@media screen and (max-width: 1400px) {
  .col-noticias {
    width: 500px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .col-noticias {
    width: 600px;
    margin-bottom: 10px;
  }
  .noticiasFormula {
    border-top: red 3px solid;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}

/*# sourceMappingURL=style.css.map */
