header {
    .colorNav {
        background-color: red;
        border-bottom: 5px solid black;
    }
    .fotoLogo{
        width: 250px;
        height: 100px;

    }
    .nav-link{
        color: white;
        font-size: 25px;
    }
}