//PILOTOS
/*PILOTOS*/
p {
    font-size: large;
}
div {
    .tituloPiloto {
        display: block;
        width: 600px;
        font-size: 30px;
    }
}

article {
    .nombrePiloto {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

}

figure {
    .pilotos {
        width: 200px;
        height: 200px;
    }
}
@mixin flex($flex, $align,$justify,$wrap,$row){
    display:$flex;
    align-content: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $row;
}

//MIXIN Pilotos
.flexPilotos{
    @include flex(flex, center, center, wrap, row );
    border-top: 8px solid black;
    border-right: 8px solid black;
    width: 450px;
    height: 350px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}
.equios{
    width: 350px;
    height: 350px;
    @include flex( flex, center, center, wrap, row );

}


//MIXIN GRID
@mixin grid($columnas, $espacio){
    display: grid;
    grid-template-columns:repeat($columnas,1fr) ;
    gap: $espacio;
    
    @media screen and (max-width:1440px) {
        grid-template-columns: 500px 500px ;
        gap: 0em;

        .gridPilotos{
            justify-content: center;
        }
    }

    @media screen and (max-width:1000px) {
        grid-template-columns: 450px 450px ;
        gap: 0em;

        .pilotos {
            width: 175px;
            height: 175px;
        }
        .flexPilotos{
            width: 400px;
            height: 350px;

        }
        .gridPilotos{
            justify-content: center;
        }

    }
    @media screen and (max-width:940px) {
        grid-template-columns: 2fr 2fr ;
        gap: 0em;

        .pilotos {
            width: 175px;
            height: 175px;
        }
        .flexPilotos{
            width: 400px;
            height: 350px;
        }

        .gridPilotos{
            justify-content: center;
        }


    }
    @media screen and (max-width:850px) {
        grid-template-columns: 1fr 1fr ;
        gap: 0em;

        .pilotos {
            width: 150px;
            height: 150px;
        }
        .flexPilotos{
            width: 350px;
            height: 300px;
        }

        .gridPilotos{
            justify-content: center;
        }


    }
    @media screen and (max-width:740px) {
        grid-template-columns: auto ;
        gap: 0em;

        .pilotos {
            width: 175px;
            height: 175px;
        }
        .flexPilotos{
            width: 500px;
            height: 400px;
        }

        .gridPilotos{
            justify-content: center;
        }
        

    }
    @media screen and (max-width:530px) {
        grid-template-columns: auto ;
        gap: 0em;

        .pilotos {
            width: 125px;
            height: 125px;
        }
        .flexPilotos{
            width: 340px;
            height: 300px;
        }
        .nombrePiloto{
            font-size: medium;
        }
        .gridPilotos{
            justify-content: center;
        }
        

    }

}
.gridPilotos{
    @include grid(3,1em )

}




