@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
@import "navbar", "footer", "historia", "equipos","pilotos", "calendario", "mixin", "index";

