@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
/* COMIENZO Personalizacion NAVBAR */
.colorNav{
    background-color: red;
    border-bottom: 5px solid black;
    
   
}
.fotoLogo{
    width: 250px;
    height: 100px;
}
.nav-link{
    color: white;
    font-size: 25px;

}
/*FINALIZACION PERSONALIZACION NAVBAR */

p{
    font-size: large ;
}



/* HTML HISTORIA */
.gridHistoria{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: auto auto ;
    gap: 15px;
    grid-template-areas: 
    " parrafoUno    imagenUno"
    " imagenDos     parrafoDos"
    " parrafoTres   imagenTres "
    " imagenCuatro  parrafoCuatro";
}

.parrafoUno{
    font-size: larger;
    grid-area: parrafoUno;
}
.imagenUno{
    grid-area: imagenUno;
}
.imagenDos{
    grid-area: imagenDos;
}
.parrafoDos{
    font-size:larger;
    grid-area: parrafoDos;
}

.parrafoTres{
    font-size: larger;
    grid-area: parrafoTres;
}
.imagenTres{
    grid-area: imagenTres;
}
.parrafoCuatro{
    font-size: larger;
    grid-area: parrafoCuatro;
}
.imagenCuatro{
    grid-area: imagenCuatro;
}
/*ESTILO MOBILE DE HTML HISTORIA */
@media screen and (max-width:768px) {
    .gridHistoria{
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: auto;
        grid-template-areas:
        "parrafoUno"
        "imagenUno"
        "parrafoDos"
        "imagenDos"
        "parrafoTres"
        "imagenTres"
        "parrafoCuatro"
        "imagenCuatro";
    }
    
}

/* ESTILO HTML EQUIPOS */

.containerEquipos{
    display: flex;
    flex-wrap: wrap;
}

.sectionEquipos{
    padding: 10px;
    border-radius: 15px;
    height: 400px;
    width: 600px;
    margin: 15px;
    border-top: 10px solid black;
    border-right: 10px solid black;
}

/*ANIMACION HTML EQUIPOS*/

.img-area{
    position: relative;
    /*
    height: 400px;
    width: 600px; */
    

}
 .img-area img{
    position: absolute;
    left: 0;
    /*
    height: 400px;
    width: 600px;
    */
    transition: opacity 1s ease-in-out;
 }

 .img-area img.img-front:hover{
    opacity: 0;
    cursor: pointer;

 }



